body {
    display: grid;
    /* adding grid properties:
    1fr = 1 fraction */
    grid-template-rows: auto 1fr auto; /* three rows defined in this line */
    grid-template-columns: 1fr 2fr; /* two columns defined here, one takes up one third */
    background-color: pink;
    font-family: serif;
    min-height: 100dvh; /* vh stands for viewport height */
    font-size: 2rem;
    color: teal;
    margin: 0; /* browsers often set defaults for margins */
    padding: 0;
}

nav {
    grid-column: span 2; /* spanning 2 columns now */
    height: 4rem;
}

aside {
    background-color: aliceblue;
}

main {
    background-color: thistle;
}

footer {
    background-color: lemonchiffon;
    grid-column: 1 / 3; /* start / end with grid lines */
}

a {
    color: hotpink;
}

