body {
    background-color: aliceblue;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: hotpink;
    margin: 1rem auto 2rem auto;


}

.main-list {
    color: white;
    background-color: cadetblue;
    padding: 2rem;
    border-radius: 2rem;
}

li {
    padding: .2rem;
}

form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

button {
    height: 5rem;
    width: 100%;
    background-color: pink;
    border-radius: 1rem;
    margin: 1rem 0;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}

a {
    color: white;
}

a:hover {
    color: pink;
}

button:hover {
    background-color: hotpink;
    color: white;
}

.ripe {
    font-size: 1.3rem;
    background-color: teal;
    padding: 1rem;
    border-radius: 2rem;
    color: white;
}

span {
    color: teal;
}

#delete-button {
    background-color: black;
    color: pink;
}

#delete-button:hover {
    background-color: hotpink;
    color: white;
}