body {
    background-color: aliceblue;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: hotpink;
    margin: 1rem auto;

}

.main-list {
    color: white;
    background-color: cadetblue;
    padding: 2rem;
    border-radius: 2rem;
}

li {
    padding: .2rem;
}

form {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

button {
    height: 5rem;
    width: 80%;
    background-color: pink;
    border-radius: 1rem;
    margin: 1rem;
}

#buttons {
    display: flex;
    flex-direction: row;
}

a {
    color: white;
}

a:hover {
    color: pink;
}

button:hover {
    background-color: hotpink;
    color: white;
}