body {
    /* background-color: midnightblue; */
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    margin: 2rem;
    color: pink;
    font-size: 1.1rem;
    width: 100%;
}

div {
    margin: .2rem;
    display: flex;
    flex-direction: column;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

label {
    color: pink;
}

input, label {
    margin: .2rem;
}

input {
    background-color: honeydew;
    height: 1.5rem;
    border-radius: 1rem;
    padding: 0 .6rem;
}

select {
    height: 1.5rem;
}


button {
    height: 4rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    background-color: lightskyblue;
    color: darkmagenta;
    margin: .5rem auto;
}

button:hover {
    background-color: magenta;
    color: pink;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

a {
    color: lightskyblue;
    padding: .3rem 0;
}

nav {
    display: flex;
    flex-direction: column;
}

table, tr, td {
    border: 1px solid pink;
}

td {
    padding: 0.5rem;
}

.td-head {
    background-color: rgba(135, 206, 250, 0.611);
    color: midnightblue;
}

#app-table {
    width: 80%;
}