body {
    background-color: midnightblue;
    margin: 5rem;
    color: pink;
    font-size: 1.1rem;
}

div {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

label {
    color: pink;
}

input {
    background-color: honeydew;
    height: 1.5rem;
    border-radius: 1rem;
    padding: 0 .6rem;
}

select {
    height: 1.5rem;
}


button {
    height: 4rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    background-color: lightskyblue;
    color: darkmagenta;
}

button:hover {
    background-color: magenta;
    color: pink;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

a {
    color: lightskyblue;
    padding: .3rem 0;
}

nav {
    display: flex;
    flex-direction: column;
}
