<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Fruit</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Create a new fruit</h1>

    <form action="/fruits" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
  
      <label for="isReadyToEat">Is it ripe?</label>
      <input type="checkbox" name="ripe" id="ripe" />
  
      <button type="submit">Add Fruit</button>
    </form>
  
</body>
</html>