.love {
    color: red;
    background-color: pink;
    border-radius: 1rem;
    font-size: 3rem;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    font-size: 2rem;
    width: 70%;
}