.new-todo-form {
    background-color: pink;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
}

label, input, button {
    margin: .2rem;
}

label {
    color: black;
}

input {
    height: 2rem;
}